# Unity generated folders
[Libraries]
Library/
Temp/
Logs/
UserSettings/
# Visual Studio files
*.csproj
*.sln
.vscode/
# Build results
Build/
Builds/
# Asset meta data
*.pidb
*.user
*.unityproj
*.booproj